.main-container--about-page {
    text-align: center;
}

.header__about-paragraph {
    margin-bottom: 2rem;
    font-style: italic;
}

.info-box {
    background-color: white;
    margin: 0 1rem;
    padding: 1rem;
    border-radius: 1rem;
}

td, th {
    text-align: left;
    padding: 2px;
    font-size: 0.8rem;
  }

  .th--bold {
    font-style: bold;
    font-size: 1rem;
    color: #348872;
}

@media all and (min-width:840px) {
    .header__about {
        font-size: 3rem;
    }
    .info-box {
        max-width: 1000px;
        margin: auto;
    }

    .info-table {
        padding: 1.5rem 0.8rem;
    }

    td, th {
        padding: 8px;
        font-size: 1.5rem;
      }

      .th--bold { 
          font-size: 1.6rem;
      }

 }
