.btn-get-activity {
    background-color:  #8e8cc2;
    padding: 0.5rem 2rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    width: 50vw;
    max-width: 220px;
    font-size: 1.1rem;
    font-family: 'Work Sans', sans-serif;
}

@media all and (min-width:840px) {

    .btn-get-activity {
        font-size: 2rem;
        padding: 1rem;
        max-width: 520px;
     }
  }