.header {
    background-color: #d59203;
    height: 100px;
    margin-bottom: 2rem;
}

a {
    color: white;
    text-decoration: none;
}

.header__navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
}

.nav-list__links {
    list-style-type: none;
}

.nav-list__links--right {
    margin-left: 2rem;
}

@media all and (min-width:840px) {
    .header {
        font-size: 1.5rem;
        margin-bottom: 3rem;
    }
  }
